<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.firstname %></h1>
    <p>
      Your account with username <%= @user.email %> on RottenMangoes has been deleted. <br>
      For any inquiries, please email admin@rottentomatoes.com. 
    </p>
    <p>Visit us again at <%= @url %></p>
  </body>
</html>