<h1>Create a new admin</h1>


  <div class="form-field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-field">
  <%= f.submit "Save" %>
  </div>
<% end %>  
