<% unless review.movie.nil? %>
   <div class="col m4 small"> 
    <div class="card hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <p><%= review.text %></p>
          <p><%= review.rating_out_of_ten %>/10</p>
          <small>Posted by: </small>
            <%= link_to user_path(review.user) do %> 
            <small><%= review.user.full_name %></small>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

